# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
bin/
build/

# Ignore Eclipse-specific directories and files
.settings/
.classpath
.project

# Ignore application output directories
/out/*
!/out/placeholder.txt

/temp/
